[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
# use ansible version <2.9 for python2 compatibility
ansible = "<2.9"
virtualenvwrapper = "*"
virtualenv = "*"

[requires]
python_version = "2.7,3.6,3.7,3.8"
